<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BooksLibrary" value="C:\Users\777ma\Documents\Army_Learning_In_Zoom\C_Sharp_excersize\BookLibraryProject\Files\BooksLibrary.txt"/>
	    <add key="Queries" value="C:\Users\777ma\Documents\Army_Learning_In_Zoom\C_Sharp_excersize\BookLibraryProject\Files\Queries.txt"/>
		<add key="Subscribers" value="C:\Users\777ma\Documents\Army_Learning_In_Zoom\C_Sharp_excersize\BookLibraryProject\Files\Subscribers.txt"/>
	</appSettings>
</configuration>
